# Pandas užduotys 3

In [2]:
import numpy as np
import pandas as pd

# 1 Ištraukite lentelę iš [šios](https://work.studentnews.eu/s/3695/75547-European-countries-the-table-language-population-capital-currency-phone-code-internet-code.htm) svetainės. Išsaugokite kintamąjame.

In [4]:
svetaine = pd.read_html('https://work.studentnews.eu/s/3695/75547-European-countries-the-table-language-population-capital-currency-phone-code-internet-code.htm')

In [9]:
svetaine[1].head()

,Staat,Official languages,Population,Capital,Currency,Phone,Int.
0,Austria,German,8.4 million,Vienna,euro (EUR),43,.at
1,Belgium,"Dutch (north), French (south), German",11 million,Brussels,euro (EUR),32,.be
2,Bulgaria,Bulgarian,7 million,Sofia,Bulgarian lev (BGN),359,.bg
3,Croatia,Croatian,4.3 million,Zagreb,Croatian kuna (HRK),385,.hr
4,Cyprus,"Greek, Turkish",800 000,Nicosia,euro (EUR),357,.cy

In [10]:
countries = svetaine[1]

# 2 šių duomenų pagrindu sukurkite CSV, Excelio failus, ir SQLite3 duomenų bazę. Patikrinkite, ar suveikė.

In [14]:
from sqlalchemy import create_engine

countries.to_csv('countries.csv', index=False)
countries.to_excel('countries1.xlsx', 'Sheet1', index=False)
engine = create_engine('sqlite:///countries1.db')
countries.to_sql('countries1', con=engine, index=False)

C:\Users\aivi1\AppData\Local\Temp\ipykernel_23388\2679898285.py:4: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  countries.to_excel('countries1.xlsx', 'Sheet1', index=False)

32

# 3 Nuskaitykite į DF šį [failą](https://github.com/robotautas/kursas/blob/master/Pandas/top_20_CA_wildfires.csv)

In [16]:
filas = pd.read_csv(r'C:\Users\aivi1\CodeAcademy\course-python-basic-1\PTU20_live\Pandas\top_20_CA_wildfires.csv')

In [17]:
filas.head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
2,Cedar,Human Related,October,2003,San Diego,273246,2820,15
3,Rush,Lightning,August,2012,Lassen,271911,0,0
4,Rim,Human Related,August,2013,Tuolumne,257314,112,0

# 4 Kiek unikalių reikšmių yra stulpelyje 'cause'?

In [18]:
len(filas['cause'].unique())

5

# 5 Kokios gaisrų priežastys, kiek kartų pasitaiko lentelėje?

In [19]:
filas['cause'].value_counts()

cause
Human Related          7
Lightning              7
Powerlines             4
Under Investigation    1
Undetermined           1
Name: count, dtype: int64

# 6 Kuriais metais buvo daugiausia gaisrų?

In [20]:
filas['year'].value_counts().idxmax()

2018

# 7 Kiek buvo tokių gaisrų, kuriuose žuvo žmonės?

In [22]:
filas['deaths'].value_counts().drop(0).sum() # .drop means that it drops the 0 value

10

# 8 Surūšiuokite eilutes pagal metus. Išsiaiškinkite, kaip rūšiuoti, kad naujausi gaisrai būtų viršuje

In [23]:
filas.sort_values('year', ascending=False).head(10)

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
15,Camp Fire,Powerlines,November,2018,Butte,153336,18804,85
6,Carr,Human Related,July,2018,"Shasta County,Trinity County",229651,1614,8
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
16,Rough,Lightning,July,2015,Fresno,151623,4,0
4,Rim,Human Related,August,2013,Tuolumne,257314,112,0
3,Rush,Lightning,August,2012,Lassen,271911,0,0
14,Station,Human Related,August,2009,Los Angeles,160557,209,2
9,Klamath Theater Complex,Lightning,June,2008,Siskiyou,192038,0,2
12,Basin Complex,Lightning,June,2008,Monterey,162818,58,0

# 9 Parašykite funkciją, kuri mėnesio pavadinimą verstų skaičiumi. Naudodami .apply() lentelėje pakeiskite mėnesių pavadinimus skaičiais. 
*nusikopijuokite žodyną, kad nereikėtų rašyti ranka :)*

In [29]:
menesiai = {1: 'January',
  2: 'February',
  3: 'March',
  4: 'April',
  5: 'May',
  6: 'June',
  7: 'July',
  8: 'August',
  9: 'September',
  10: 'October',
  11: 'November',
  12: 'December'}

menesiai_atvirksciai = {v: k for k, v in menesiai.items()}

In [31]:
print(menesiai_atvirksciai['January'])

1

In [34]:
filas['month'] = filas['month'].apply(menesiai_atvirksciai)

TypeError: 'int' object is not callable

In [32]:
filas.head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
2,Cedar,Human Related,October,2003,San Diego,273246,2820,15
3,Rush,Lightning,August,2012,Lassen,271911,0,0
4,Rim,Human Related,August,2013,Tuolumne,257314,112,0

# 10 Nuskaitykite lentelę iš [čia](https://lt.wikipedia.org/wiki/S%C4%85ra%C5%A1as:Lietuvos_miestai_pagal_gyventojus).

* **Pakeiskite indeksą į stulpelį 'Miestas'**
* **Sutvarkykite duomenis taip, kad gyventojų sk. reprezentuotų lengelis su 'int' reikšme: -
Ten kur trūksta duomenų - nulis. 
ten, kur reikšmės ne integer, sutvarkykite, kad būtų integer.**

In [459]:
#pabaigoje, miestai.info() turėtų rodyti tokį rezultatą

<class 'pandas.core.frame.DataFrame'>
Index: 103 entries, Vilnius to Panemunė
Data columns (total 9 columns):
2019    103 non-null int64
2011    103 non-null int64
2001    103 non-null int64
1989    103 non-null int64
1979    103 non-null int64
1970    103 non-null int64
1959    103 non-null int64
1923    103 non-null int64
1897    103 non-null int64
dtypes: int64(9)
memory usage: 13.0+ KB